@import
url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
  font-family: 'Gotham-Bold';
  src: url("font/Gotham-Bold.otf");
}

@font-face {
  font-family: 'RockwellStd';
  src:url("font/RockwellStd.otf");
}

* {
  margin:0;
  padding:0;
}


a{
  text-decoration: none;
  color: white;
}

.wrap {
  background-image: url("images/apply_bg.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.navbar_menu {
  display: flex;
  list-style: none; /*list앞에 점 없애줌*/
}
  
.navbar_menu li {
  padding: 8px 12px;      /*바꿔도됨*/
  box-sizing: border-box;
  border-style: solid;
  background-color: none;
  border-color: white;
  border-radius: 20px;
  border-width: 1px;
}
  
.navbar_menu li:hover {
  background-color: rgb(62, 169, 144);
  border-radius: 20px;
}

.APPLY {
  background-color: white;
}
#apply{
  color: #464646;
}
  
.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #e4d7ce;
}
/*여기까지 navbar툴 고정부분*/


@media (max-width: 768px){
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding : 18px 24px;
  }
    
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
    
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
    
  .navbar_toggleBtn {
    display: block;
  }
        
  .navbar_menu.active {
    display: flex;
  }

  .intro_title{
    margin-top:180px;
    padding-left:7%;
    padding-bottom: 3%;
  }

  .t1 {
    width: 100%;
    height: 60px;
  }
  .t1 > h1 {
    font-size: 40px;
    font-family: 'Gotham-Bold';
    text-align: left;
    font-weight: 500;
    color: #FFFFFF
  }

  .t2 {   /*여기만 margin-top위에서 적용되있음*/
    width: 100%;
    height: 100%;
  }

  .t2 > p {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    font-family: 'NanumSquare-Bold';
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 7px;
  }

  .left_title{
    margin-left:15%;
    margin-top: 10%;
    display: flex;
    font-weight: 800;
    font-family: 'NanumSquare';
    margin-bottom:20px;
  }
  .tp{
    width: 23px;
    height: 5px;
    background-image: url("images/underbar.png");
  }

  .num1{
    width: 36px;    
    font-size: 15px;
    font-weight: 800;
    font-family: 'RockwellStd', sans-serif;
    color: #585959;
  }

  .tap{
    width: 211px;
    text-align: left;
    font: normal normal 800 17px/30px NanumSquare;
    letter-spacing: 0px;
    color: #464646;
    opacity: 1; 
    margin-left: 5%;
  }

  .right_content1 {
    margin-left : 12%;
    margin-right : 12%;
  }
  /*[수정] margin-top */ 
  .right_content1 > hr{
    margin-top: 50px;
    border: 1px solid #D5D5D5;
    opacity: 1;
  }

  .right_content2{
    margin-left : 12%;
    margin-right : 12%;
  }




  .text1 {
    margin-top: 10px;
    font: normal normal normal 10px/15px NanumSquare;
    font-weight: 400;
    letter-spacing: 0.24px;
    color: #464646;
  }

  .text1 > p > span{
    font: normal normal 800 10px/15px NanumSquare;
    letter-spacing: 0.24px;
    color: #464646;
  }

  .rules_exp{
    padding-top:10%;
  }

  .left_title2{
    font-weight: 800;
    font-family: 'NanumSquare';
    margin-left:8%;
  }


  #go_test{
    margin-top: 10px;
    margin-bottom: 10px;
    font: normal normal 800 13px/20px NanumSquare;
    letter-spacing: 0.24px;
    color: #4010d1;
  }

  .price_a{
    color: #4010d1;
  }


  .text1 {
      font: normal normal normal 13px/35px NanumSquare;
      font-weight: 400;
      letter-spacing: 0.24px;
      color: #464646;
  }

  .text1 > p > span{
      font: normal normal 800 13px/35px NanumSquare;
      letter-spacing: 0.24px;
      color: #464646;
  }
  #vio{
      margin-top: 20px;
  }

  .right_tap{
      text-align: left;
      font: normal normal 800 15px/25px NanumSquare;
      letter-spacing: 0.19px;
      color: #464646;
      opacity: 1;
  }

  .google_form {
      display:inline-flex;
      font-size:30px;
      text-align : left;
      margin-top:90px;
      font-family: 'NanumSquare';
      background-color: #8FCBF3;
  }

  .google_form a {
      text-decoration-line: none;
      color : white;
  }

  #tap1{
      margin-top: 30px;
  }
  #tap2, #tap8{
      margin-top: 54px;  
  }
  #tap3, #tap10{
      margin-top: 40px;
  }
  #tap4{
      margin-top: 110.32px;
  }
  #tap5{
      margin-top: 30px;
  }
  #tap5-0{
      margin-top: 25px;
      text-align: left;
      font: normal normal 800 13px/19px NanumSquare;
      letter-spacing: 0.16px;
      color: #464646;
      opacity: 1;
  }
  #tap6{
      margin-top: 40.75px;
  }
  #tap7{
      margin-top: 33.34px;
  }
  #tap9{
      margin-top: 29.47px;
  }


  .price_table{
      width: 320px;
      height: 80px;
      background-image: url("images/apply_chart1.svg");
      background-repeat: no-repeat;
  }
  .step_table{
      width: 173px;
      height: 184.9px;
      margin-top: 12px;
      background-image: url("images/apply_guide_1.svg") ;
      background-repeat: no-repeat;
  }
  .que_table{
      width: 176px;
      height: 147px;
      margin-left: 5px;
      background-image: url("images/apply_chart_1.svg") ;
  }
  .ID_table{
      width: 280px;
      height: 140px;
      margin-top: 16.34px;
      background-image: url("images/ID_table_1.svg") ;
      background-repeat: no-repeat;
  }
  .prog_table{
      margin-top: 20px;
      width: 280px;
      height: 124px;
      margin-left: 5px;
      background-image: url("images/test_card_1.svg") ;
      background-repeat: no-repeat;

  }
  .cheat_table{
      width: 280px;
      height: 60.5px;
      margin-top: 16.34px;
      background-image: url("images/cheat_table_1.svg") ;
      background-repeat: no-repeat;
  }
  .step{
      text-align: left;
      font: normal normal 800 10px/20px NanumSquare;
      letter-spacing: 0px;
      color: #464646;
      text-shadow: inset 0px 3px 6px #46464629;
      opacity: 1;
  }
  .txt{
      text-align: left;
      font: normal normal 800 10px/20px NanumSquare;
      letter-spacing: 0px;
      color: #464646;
      text-shadow: inset 0px 3px 6px #46464629;
      opacity: 1;
  }
  #num1{
      margin-top: 39px;
  }
  #num2{
      margin-top: 19px;
  }
  #num3{
      margin-top: 30px;
  }
  #num4, #num5{
      margin-top: 33.81px;
  }

  #num6, #num7{
      margin-top: 40px;
  }
  #num8, #num9{
      margin-top: 20px;
  }
  .txt_01{
      padding-left: 21px;
      text-align: left;
      font: normal normal normal 10px/20px NanumSquare;
      letter-spacing: 0px;
      color: #464646;
      text-shadow: inset 0px 3px 6px #46464629;
      opacity: 1;
  }
  .txt{
      text-align: left;
      font: normal normal normal 10px/20px NanumSquare;
      letter-spacing: 0px;
      color: #464646;
      text-shadow: inset 0px 3px 6px #46464629;
      opacity: 1;
  }
  #sp1{
      font: normal normal bold 10px/20px NanumSquare;
  }
  #sp2{
      font: normal normal 800 10px/20px NanumSquare;
  }
  #txt1{
      margin-top: 13px;
  }
  #txt2, #txt4{
      margin-top: 39px;
  }
  #txt3, #txt5, #txt6, #txt7, #txt8, #txt9, #txt10{
      margin-top: 20px;
  }
  #txt11, #txt12{
      margin-top: 28.81px;
  }

  .text2 {
      margin-top: 39px;
      text-align: left;
      font: normal normal normal 10px/20px NanumSquare;
      letter-spacing: 0px;
      color: #464646;
  }

  .text2 > p > span {
      text-align: left;
      font: normal normal 800 10px/20px NanumSquare;
      letter-spacing: 0px;
      color: #464646;
  }

  .copyrights {
      font: normal normal 5px/12px Gotham;
      text-align: center;
      flex-direction: column;
      color: #6d6c6c;
      justify-content: space-between;
      height: 130px;
      margin-top: 35px;   
      display: flex;
      opacity:0.7;
  }
  .copy_wrap{
      padding-left: 30px;
      padding-right: 30px;
      margin-top:50px;
  }
  .copy_wrap > hr{
      margin: auto;
      height: 0px;
      border: 1px solid #D5D5D5;
      opacity: 1;
  }
  #t3{
      margin-top: 23px;
      text-align: center;
      font: normal normal 800 5px/13px NanumSquare;
      letter-spacing: 0px;
      color: #6C6C6C;
      opacity: 1;
  }

  .copyright1,
  .copyright2,
  .copyright3 {
    margin-bottom:10px;
    text-align: left;
    margin-left:3%;
  }
}