@import
url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
  font-family: 'Gotham-Bold';
  src: url("font/Gotham-Bold.otf");
}

@font-face {
  font-family: 'RockwellStd';
  src:url("font/RockwellStd.otf");
}

* {
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color: white;
}

.wrap {
  background-image: url("images/intro.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.navbar_menu {
  display: flex;
  list-style: none; /*list앞에 점 없애줌*/
}
  
.navbar_menu li {
  padding: 8px 12px;      /*바꿔도됨*/
  box-sizing: border-box;
  border-style: solid;
  background-color: none;
  border-color: white;
  border-radius: 20px;
  border-width: 1px;
}
  
.navbar_menu li:hover {
  background-color: rgb(62, 169, 144);
  border-radius: 20px;
}

.GUIDE {
  background-color: white;
}
#guide{
  color: #464646;
}
  
.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #e4d7ce;
}
/*여기까지 navbar툴 고정부분*/

@media (max-width: 768px){
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding : 18px 24px;
  }
    
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
    
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
    
  .navbar_toggleBtn {
    display: block;
  }
        
  .navbar_menu.active {
    display: flex;
  }

  .intro_title{
    margin-top:180px;
    padding-left:7%;
    padding-bottom: 3%;
  }

  .t1 {
    width: 100%;
    height: 60px;
  }
  .t1 > h1 {
    font-size: 40px;
    font-family: 'Gotham-Bold';
    text-align: left;
    font-weight: 500;
    color: #FFFFFF
  }

  .t2 {   /*여기만 margin-top위에서 적용되있음*/
    width: 100%;
    height: 100%;
  }

  .t2 > p {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    font-family: 'NanumSquare-Bold';
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 7px;
  }


  .left_title{
    margin-left: 35%;
    margin-right:30%;
    margin-top: 10%;
    display: flex;
    font-weight: 800;
    font-family: 'NanumSquare';
    margin-bottom:20px;
  }
  .tp{
    width: 23px;
    height: 5px;
    background-image: url("images/underbar.png");
  }

  .num1{
    width: 36px;    
    font-size: 15px;
    font-weight: 800;
    font-family: 'RockwellStd', sans-serif;
    color: #585959;
  }

  .tap{
    width: 211px;
    text-align: left;
    font: normal normal 800 17px/30px NanumSquare;
    letter-spacing: 0px;
    color: #464646;
    opacity: 1; 
  }

  .right_content1 {
    margin-left : 12%;
    margin-right : 12%;
  }
  /*[수정] margin-top */ 
  .right_content1 > hr{
    margin-top: 100px;
    border: 1px solid #D5D5D5;
    opacity: 1;
  }

  .text1 {
    margin-top: 10px;
    font: normal normal normal 13px/15px NanumSquare;
    font-weight: 400;
    letter-spacing: 0.24px;
    color: #464646;
  }

  .text1 > p > span{
    font: normal normal 800 13px/15px NanumSquare;
    letter-spacing: 0.24px;
    color: #464646;
  }

  .text2 {
    margin-top: 39px;
    text-align: left;
    font: normal normal normal 13px/25px NanumSquare;
    letter-spacing: 0px;
    color: #464646;
  }

  .text2 > p > span {
    text-align: left;
    font: normal normal 800 13px/30px NanumSquare;
    letter-spacing: 0px;
    color: #464646;
  }

  .image1{
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
  }

  .TOSC_logo{
    left: 70%;
    width: 58px;
    height: 27px;
    background-image: url("images/tosc.logo_1.svg");
    opacity: 1;
  }

  .SJU_logo{
    width: 97px;
    height: 26px;   
    background-image: url("images/sanhak_logo.svg");
    opacity: 1;
  }

  .tap1{
    width: 211px;
    text-align: left;
    font: normal normal 800 17px/30px NanumSquare;
    letter-spacing: 0px;
    color: #464646;
    opacity: 1; 
  }

  /*[수정] padding-top */ 
  .right_content2{
    margin-left : 12%;
    margin-right : 12%;
  }

  /*[수정] margin-top */ 
  .right_content2 > hr{
    margin-top: 100px;
    border: 1px solid #D5D5D5;
    opacity: 1;
  }

  .right_content2 > p{
    text-align: left;
    font: normal normal normal 17px/30px NanumSquare;
    letter-spacing: 0px;
    color: #000000;
    text-shadow: inset 0px 3px 6px #46464629;
    opacity: 1;
  }

  #text2_wrap{
    display: flex; 
  }
  #text2-1{
    margin-right:31px;
  }
  #tap1{
    margin-top: 52px;
  }

  /*[수정] margin-top */ 
  .grade_table{
    background-image: url("images/grade_guide_1.svg");
    margin-top: 25px;
    align-items: center;
    height:450px;
    width: 300px;
    background-repeat: no-repeat;
  }

  /*[수정] padding-top */ 
  .left_title3 {
    margin-left:40%;
    margin-top:40px;
  }
  .right_content3{
    margin-left : 12%;
    margin-right : 12%;
  }
  .right_content3 > p{
    text-align: left;
    font: normal normal normal 17px/30px NanumSquare;
    letter-spacing: 0px;
    color: #000000;
    text-shadow: inset 0px 3px 6px #46464629;
    opacity: 1;
  }
  .dp1{
    margin-top: 10px;
    text-align: left;
    font: normal normal 800 15px/25px NanumSquare;
    letter-spacing: 0.19px;
    color: #464646;
    text-shadow: inset 0px 3px 6px #46464629;
    opacity: 1;
  }
  .dp{
    margin-top: 20px;
    text-align: left;
    font: normal normal 800 15px/25px NanumSquare;
    letter-spacing: 0.19px;
    color: #464646;
    text-shadow: inset 0px 3px 6px #46464629;
    opacity: 1;
  }
  #tap2{
    margin-top: 26px;
  }

  .card_wrap{
    width: 349.5px;
    height: 150px;
    margin-top: 18px;
    margin-left: -16px;
    background-image: url("images/test_card_1.svg");
    background-repeat: no-repeat;
  }

  /*[수정] margin-top */ 
  .load_wrap{
    width: 422px;
    height: 34px;
    /* UI Properties */
    text-align: left;
    font: normal normal 800 15px/25px NanumSquare;
    letter-spacing: 0.19px;
    color: #464646;
    text-shadow: inset 0px 3px 6px #46464629;
    opacity: 1;
    margin-top: 60px;
  }
  #plus{
    margin-top: 22px;
    text-align: left;
    font: normal normal normal 8px/20px NanumSquare;
    letter-spacing: 0px;
    color: #464646;
    text-shadow: inset 0px 3px 6px #46464629;
    opacity: 1;
  }

  .load_map{
    width: 350px;
    height: 400px;
    margin-top: 77px;
    background-image: url("images/sejong_map_1.svg");
    background-repeat: no-repeat;
  }

  .copyrights {
    font: normal normal 5px/12px Gotham;
    text-align: center;
    flex-direction: column;
    color: #6d6c6c;
    justify-content: space-between;
    height: 130px;
    margin-top: 35px;   
    display: flex;
    opacity:0.7;
  }
  .copy_wrap{
    padding-left: 30px;
    padding-right: 30px;
    margin: 488px auto auto 0;
  }
  .copy_wrap > hr{
    margin-top: 600px;
    opacity: 1;
  }
  #t3{
    margin-top: 23px;
    text-align: center;
    font: normal normal 800 5px/13px NanumSquare;
    letter-spacing: 0px;
    color: #6C6C6C;
    opacity: 1;
  }

  .copyright1,
  .copyright2,
  .copyright3 {
    margin-bottom:10px;
    text-align: left;
    margin-left:3%;
  }
}